<div class="row">

  <div class="col-sm-4">
    <mat-card class="margin-top fixed-height">
      <mat-card-header>
        <mat-card-title>Step 1</mat-card-title>
        <mat-card-subtitle>One player will get to pick a category</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/tip1.png" alt="Guide step 1">
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card class="margin-top fixed-height">
      <mat-card-header>
        <mat-card-title>Step 2</mat-card-title>
        <mat-card-subtitle>Listen to the track and guess the correct artist</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/tip2.png" alt="Guide step 2">
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card class="margin-top fixed-height">
      <mat-card-header>
        <mat-card-title>Step 3</mat-card-title>
        <mat-card-subtitle>Enter the name of the track and don't forget to submit your answers</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/tip3.png" alt="Guide step 3">
    </mat-card>
  </div>

</div>
