<div class="row">

  <div class="col-12">
    <mat-card class="margin-bottom"></mat-card>
  </div>

  <div class="col-4">
    <mat-card class="margin-top">
      <mat-card-header>
        <mat-card-title>Step 1</mat-card-title>
        <mat-card-subtitle>One player will get to pick a category</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="margin-top">
      <mat-card-header>
        <mat-card-title>Step 2</mat-card-title>
        <mat-card-subtitle>Listen to the track and guess the correct artist</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="margin-top">
      <mat-card-header>
        <mat-card-title>Step 3</mat-card-title>
        <mat-card-subtitle>Enter the name of the track and don't forget to submit your answers</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

</div>
