div.absolute{
    position: absolute;
    right: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    //border: 1px solid black
}
div.upper {
    top: 25%;
  }
  div.lower {
    top: 53%;
  }

  div.relative{
      position: relative;
      display: inline-flex;
  }

  .right{
      color: rgb(0, 255, 0);
  }

  .wrong{
      color: rgb(255, 40, 40);
  }