<div class="container-fluid" *ngIf="state$ | async as state">
  <div class="col-12 margin-bottom margin-top">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{displayName$ | async}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div [ngSwitch]="state.state" class="col-12">
    <div *ngSwitchCase="'WELCOME'">
      <app-ready [adminUID$]="adminUID$" (ready)="startGame()"></app-ready>
    </div>
    <div *ngSwitchCase="'PICK_CATEGORY'">
      <app-category-pick *ngIf="isCategoryPicker$ | async; else waiting" [state]="state"
        (selected)="selectCategory($event)">
      </app-category-pick>
      <ng-template #waiting>Please wait for user to pick a category</ng-template>
    </div>
    <div *ngSwitchDefault>Hejsan</div>
  </div>
</div>
