
  <div class="row canvas-div justify-content-center">
    <canvas class="canvas" #canvas height="300px" width="300px">
    </canvas>
  </div>
<div class="row margin-top margin-bottom">
  <div class=" col-12 toggles-div">
      <div class='row justify-content-center'>
    <mat-button-toggle-group #groupColor="matButtonToggleGroup" (change)="changeColor($event)" >
      <mat-button-toggle value="black">
        <mat-icon>color_lens</mat-icon>
        </mat-button-toggle>
      <mat-button-toggle value="red">
        <mat-icon class="red">color_lens</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="green">
        <mat-icon class="green">color_lens</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="blue">
        <mat-icon class="blue">color_lens</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
      </div>
  </div>
  <div class="col-12 toggles-div">
    <div class='row justify-content-center'>
    <mat-button-toggle-group #groupSize="matButtonToggleGroup" (change)="changeSize($event)">
    <mat-button-toggle value=2>
      <mat-icon class="size-2">lens</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value=4>
      <mat-icon class="size-4">lens</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value=7>
      <mat-icon class="size-7">lens</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="size-10" value=10>
      <mat-icon>lens</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group >
    </div>
</div>

<div class="col-12 toggles-div">
    <div class='row justify-content-center'>
      <button mat-stroked-button  (click) = "clearCanvas()">Clear</button>
  </div>
</div>
</div>