.red { color: rgb(255, 0, 0); }
.green { color: rgb(0, 255, 0); }
.blue { color: rgb(0, 0, 255); }
.canvas {
    border: 1px solid;
    border-color: black;
    touch-action: none;
}
.canvas-div{
    min-width: 300px;
    touch-action: none;
}
.toggles-div{
    min-width: 50px;
}
.buttons-div{
    min-width: 65px;
}
.size-2{
    transform:scale(0.2)
}
.size-4{
    transform:scale(0.4)
}
.size-7{
    transform:scale(0.7)
}