.red { color: rgb(255, 0, 0); }
.green { color: rgb(0, 255, 0); }
.blue { color: rgb(0, 0, 255); }
.canvas {
    border: 1px solid;
    border-color: black;
    touch-action: none;
    border-radius: 50%;
}
//.canvas-div{

   
//}
.toggles-div{
    min-width: 50px;
}
.buttons-div{
    min-width: 65px;
}
.size-2{
    transform:scale(0.2)
}
.size-4{
    transform:scale(0.4)
}
.size-7{
    transform:scale(0.7)
}

mat-button-toggle-group {
    width: 300px;
  }
.mat-stroked-button{
      width:300px;  
      height: 48px;
  }
  
  mat-button-toggle {
    flex: 1 1 100%;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    display: flex;
  }