<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 margin-bottom links">
      <mat-card (click)="loginHost()" matRipple>
        <mat-card-header>
          <mat-card-title>Create game</mat-card-title>
          <mat-card-subtitle>Create a new game</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 links">
      <mat-card (click)="loginPlayer()" matRipple>
        <mat-card-header>
          <mat-card-title>Join game</mat-card-title>
          <mat-card-subtitle>Join an existing game</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
