<div class="container-fluid">
  <div class="col-12 margin-bottom margin-top">
    <app-playback></app-playback>
  </div>
</div>

<div class="container-fluid" [ngSwitch]="gameState$ | async">
  <div class="row">
    <div class="col-12">
      <app-welcome *ngSwitchCase="'WELCOME'" [adminUID$]="adminUID$" [gameCode$]="gameCode$" [players$]="players$">
      </app-welcome>
    </div>
    <div class="col-12">
      <app-intro *ngSwitchCase="'INTRO'" (completed)="introCallback()"></app-intro>
    </div>

    <div class="col-12">
      <app-category-list *ngSwitchCase="'PICK_CATEGORY'"></app-category-list>
    </div>
    <div class="col-12">
      <app-answer *ngSwitchCase="'ANSWER'" [timer$]="timer$" [players$]="players$"></app-answer>
    </div>
    <div class="col-12">
      <app-results *ngSwitchCase="'RESULT'"></app-results>
    </div>
    <div class="col-12">
        <app-end-screen *ngSwitchCase="'END'"></app-end-screen>
      </div>
  </div>
      <div *ngSwitchDefault>
        <p> Game disconnected </p>
        <button mat-button (click)="returnHome()" > Return to start</button>
      </div>
</div>
