<app-playback></app-playback>

<div class=container-fluid [ngSwitch]="gameState$ | async">
  <app-welcome *ngSwitchCase="'WELCOME'" [adminUID$]="adminUID$" [gameCode$]="gameCode$" [players$]="players$">
  </app-welcome>
  <app-intro *ngSwitchCase="'INTRO'" (completed)="introCallback()"></app-intro>
  <app-category-list *ngSwitchCase="'PICK_CATEGORY'"></app-category-list>
  <div *ngSwitchCase="'ANSWER'">
    <div class="col-12 margin-bottom">
      <mat-card>
        <mat-progress-bar *ngIf="timer$ | async as timer" mode="determinate" [value]="timer">
        </mat-progress-bar>
      </mat-card>
    </div>

    <div class="col-12">
      <mat-card>
        <div *ngIf="players$ | async as players" class="row">
          <div class="col-12">
            <h3 mat-subheader>Current Players</h3>
          </div>
          <div *ngFor="let p of players" class="p-2">
            <app-player-card [player]="p" [isDone]="p.response?.done"></app-player-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <app-results *ngSwitchCase="'RESULT'"></app-results>
</div>
