<div class="row">
  <div class="col-12 row margin-top margin-bottom">
    <div class="col-md-6 col-sm-12">
      <mat-card (click)="playMore()" matRipple>
        <mat-card-header>
          <mat-card-title>Continue Playing</mat-card-title>
          <mat-card-subtitle>Keep playing with the same players</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-card (click)="restartGame()" matRipple>
        <mat-card-header>
          <mat-card-title>Restart</mat-card-title>
          <mat-card-subtitle>Create a completely fresh game</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="col-12 margin-top">
    <mat-card>

      <mat-card-content class="row">
        <div class="list-container col-md-6 col-sm-12">
          <h2>Played Tracks</h2>

          <div cdkDropList class="bot-mar" #trackHistoryList="cdkDropList" [cdkDropListData]="playedTracks"
            [cdkDropListConnectedTo]="[newPlaylistList]" class="track-list" (cdkDropListDropped)="drop($event)">
            <div class="list-box" *ngFor="let track of playedTracks" cdkDrag>{{track.track.name}} -
              {{track.track.artists[0].name}}
            </div>
          </div>
        </div>

        <div class="list-container col-md-6 col-sm-12">
          <h2>New Playlist</h2>

          <div cdkDropList class="bot-mar" #newPlaylistList="cdkDropList" [cdkDropListData]="savedTracks"
            [cdkDropListConnectedTo]="[trackHistoryList]" class="track-list" (cdkDropListDropped)="drop($event)">
            <div class="list-box" *ngFor="let track of savedTracks" cdkDrag>{{track.track.name}} -
              {{track.track.artists[0].name}}
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="createPlaylist()">CREATE PLAYLIST</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
