.wrapper{
    float: left;
    width: 40%;
    text-align: center;
    
}

.cards{
    background-color: aqua;
    align-content: center;
    padding:10px;
    margin-top:10px;
    border: dimgray;
    border-style: solid;
    display: inline-block;
}
