<div class="container">
  <div class="row">
    <div class="col-12 margin-bottom">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{gameCode$ | async}}</mat-card-title>
          <mat-card-subtitle>Use this code to join game</mat-card-subtitle>
        </mat-card-header><mat-card-content>
          <div *ngIf= "joinPath$ | async as joinPath" >
        <qrcode [qrdata]="joinPath" size="256" level="M"></qrcode>
      </div>
      </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <div *ngIf="playerDetails$ | async as players" class="row">
          <div class="col-12"><h3 mat-subheader>Current Players</h3></div>
          <div *ngFor="let p of players" class="p-2">
          <app-player-card  [player]="p.player" [isAdmin]="p.isAdmin" ></app-player-card>
        </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
