<div class="container">
  <div class="row">
    <div class="col-12 margin-bottom">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{gameCode$ | async}}</mat-card-title>
          <mat-card-subtitle>Use this code to join game</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <mat-list *ngIf="playerDetails$ | async as players">
          <h3 mat-subheader>Current Players</h3>
          <mat-list-item *ngFor="let p of players">
            <img *ngIf="p.player.avatar" mat-card-avatar src={{p.player.avatar}}>
            <h4 mat-line>{{p.player.displayName}}</h4>
            <p *ngIf="p.isAdmin">Admin</p>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
