<div class="row">
  <div class="col-12 margin-bottom">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{gameCode$ | async}}</mat-card-title>
        <mat-card-subtitle>Use this code on another device or browser to join a game as a player or scan this QR-code </mat-card-subtitle>
        <div class="float-right" *ngIf="joinPath$ | async as joinPath">
          <qrcode [qrdata]="joinPath" size="124" level="M"></qrcode>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-12">
    <mat-card *ngIf="playerDetails$ | async as players">
      <div class="row">
        <div class="col-12">
          <h3 mat-subheader>Current Players</h3>
        </div>
        <div *ngFor="let p of players" class="p-2 col-sm-12 col-md-6 col-lg-4">
          <app-player-card [player]="p.player" [isAdmin]="p.isAdmin"></app-player-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
